.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  margin-left: 1px;
}

.main{
 
  display: flex;
  
}
.for-user h6{
text-align: center;
margin-top: 14px;
 
}
.for-user{
 margin-top: 23px;
 margin-left: 18px;
 margin-right: 25px;
}
.for-user img{
  margin-left: 38px;
  width:120px;
  

height: 130px;
}


